USE [master]
GO
/****** Object:  Database [AplicacionCrucero]    Script Date: 13/12/2022 09:43:52 ******/
CREATE DATABASE [AplicacionCrucero]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AplicacionCrucero', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AplicacionCrucero.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AplicacionCrucero_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AplicacionCrucero_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AplicacionCrucero].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AplicacionCrucero]
GO
/****** Object:  Table [dbo].[Capitan]    Script Date: 13/12/2022 09:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capitan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HorasDeViaje] [int] NOT NULL,
	[ViajesRealizadosConLaEmpresa] [int] NOT NULL,
 CONSTRAINT [PK_Capitan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crucero]    Script Date: 13/12/2022 09:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crucero](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [varchar](8) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Camarotes] [int] NOT NULL,
	[Salones] [int] NOT NULL,
	[Casinos] [int] NOT NULL,
	[Piscinas] [int] NOT NULL,
	[Gimnacios] [int] NOT NULL,
	[CapacidadBodega] [float] NOT NULL,
	[PesoTotalDeLaBodega] [float] NOT NULL,
	[ListaTripulantes] [varchar](8000) NULL,
 CONSTRAINT [PK_Crucero] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 13/12/2022 09:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Puesto] [int] NOT NULL,
	[FechaDeIngreso] [datetime] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipaje]    Script Date: 13/12/2022 09:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipaje](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Bolsos] [int] NOT NULL,
	[Maletas] [int] NOT NULL,
	[PesoTotalMaletas] [float] NOT NULL,
 CONSTRAINT [PK_Equipaje] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pasajero]    Script Date: 13/12/2022 09:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasajero](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [varchar](50) NULL,
	[Clase] [int] NOT NULL,
	[ID_Equipaje] [int] NOT NULL,
	[Casino] [bit] NOT NULL,
	[Piscina] [bit] NOT NULL,
	[Gimnacio] [bit] NOT NULL,
 CONSTRAINT [PK_Pasajero] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 13/12/2022 09:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[DNI] [int] NOT NULL,
	[Nacionalidad] [int] NOT NULL,
	[Celular] [float] NOT NULL,
	[ID_Pasajero] [int] NULL,
	[ID_Empleado] [int] NULL,
	[ID_Capitan] [int] NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viaje]    Script Date: 13/12/2022 09:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viaje](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CiudadDePartida] [int] NOT NULL,
	[Destino] [int] NOT NULL,
	[FechaDeInicio] [varchar](50) NOT NULL,
	[ID_Crucero] [int] NOT NULL,
	[CamarotesPremium] [int] NOT NULL,
	[CamarotesTurista] [int] NOT NULL,
	[CostoPremium] [float] NOT NULL,
	[CostoTurista] [float] NOT NULL,
	[DuracionDelViaje] [int] NOT NULL,
 CONSTRAINT [PK_Viaje] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Capitan] ON 

INSERT [dbo].[Capitan] ([ID], [HorasDeViaje], [ViajesRealizadosConLaEmpresa]) VALUES (1, 4000, 0)
INSERT [dbo].[Capitan] ([ID], [HorasDeViaje], [ViajesRealizadosConLaEmpresa]) VALUES (2, 4569, 0)
SET IDENTITY_INSERT [dbo].[Capitan] OFF
GO
SET IDENTITY_INSERT [dbo].[Crucero] ON 

INSERT [dbo].[Crucero] ([ID], [Matricula], [Nombre], [Camarotes], [Salones], [Casinos], [Piscinas], [Gimnacios], [CapacidadBodega], [PesoTotalDeLaBodega], [ListaTripulantes]) VALUES (1, N'VHK-4555', N'Perla Negra', 139, 23, 10, 3, 6, 856733, 0, N'')
INSERT [dbo].[Crucero] ([ID], [Matricula], [Nombre], [Camarotes], [Salones], [Casinos], [Piscinas], [Gimnacios], [CapacidadBodega], [PesoTotalDeLaBodega], [ListaTripulantes]) VALUES (2, N'NAA-1762', N'Titanic', 300, 31, 12, 4, 7, 64123, 0, N'')
INSERT [dbo].[Crucero] ([ID], [Matricula], [Nombre], [Camarotes], [Salones], [Casinos], [Piscinas], [Gimnacios], [CapacidadBodega], [PesoTotalDeLaBodega], [ListaTripulantes]) VALUES (3, N'OVD-7002', N'Ocean', 85, 10, 2, 1, 1, 6402, 0, N'')
SET IDENTITY_INSERT [dbo].[Crucero] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([ID], [Puesto], [FechaDeIngreso]) VALUES (1, 1, CAST(N'2022-12-12T21:37:58.000' AS DateTime))
INSERT [dbo].[Empleado] ([ID], [Puesto], [FechaDeIngreso]) VALUES (2, 4, CAST(N'2022-12-12T00:25:14.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipaje] ON 

INSERT [dbo].[Equipaje] ([ID], [Bolsos], [Maletas], [PesoTotalMaletas]) VALUES (1, 1, 1, 15)
SET IDENTITY_INSERT [dbo].[Equipaje] OFF
GO
SET IDENTITY_INSERT [dbo].[Pasajero] ON 

INSERT [dbo].[Pasajero] ([ID], [Correo], [Clase], [ID_Equipaje], [Casino], [Piscina], [Gimnacio]) VALUES (1, N'gonzalonl308@gmail.com', 0, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Pasajero] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([ID], [Nombre], [Apellido], [Edad], [DNI], [Nacionalidad], [Celular], [ID_Pasajero], [ID_Empleado], [ID_Capitan]) VALUES (1, N'Gonzalo', N'Lemiña', 21, 43593947, 1, 1134153038, 1, NULL, NULL)
INSERT [dbo].[Persona] ([ID], [Nombre], [Apellido], [Edad], [DNI], [Nacionalidad], [Celular], [ID_Pasajero], [ID_Empleado], [ID_Capitan]) VALUES (2, N'Valeria', N'Vazquez', 44, 44232745, 1, 1566445599, NULL, 1, NULL)
INSERT [dbo].[Persona] ([ID], [Nombre], [Apellido], [Edad], [DNI], [Nacionalidad], [Celular], [ID_Pasajero], [ID_Empleado], [ID_Capitan]) VALUES (7, N'Roko', N'Gonzalez', 60, 60783131, 1, 1577815599, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Viaje] ON 

INSERT [dbo].[Viaje] ([ID], [CiudadDePartida], [Destino], [FechaDeInicio], [ID_Crucero], [CamarotesPremium], [CamarotesTurista], [CostoPremium], [CostoTurista], [DuracionDelViaje]) VALUES (1, 0, 101, N'24/12/2022 18:27:42', 1, 48, 91, 87325, 72771, 573)
INSERT [dbo].[Viaje] ([ID], [CiudadDePartida], [Destino], [FechaDeInicio], [ID_Crucero], [CamarotesPremium], [CamarotesTurista], [CostoPremium], [CostoTurista], [DuracionDelViaje]) VALUES (2, 4, 104, N'1/1/2023 18:44:05', 5, 175, 325, 74676, 62230, 490)
INSERT [dbo].[Viaje] ([ID], [CiudadDePartida], [Destino], [FechaDeInicio], [ID_Crucero], [CamarotesPremium], [CamarotesTurista], [CostoPremium], [CostoTurista], [DuracionDelViaje]) VALUES (3, 0, 100, N'14/2/2023 18:45:09', 2, 105, 195, 89916, 74930, 590)
SET IDENTITY_INSERT [dbo].[Viaje] OFF
GO
ALTER TABLE [dbo].[Pasajero]  WITH CHECK ADD  CONSTRAINT [FK_Pasajero_Equipaje] FOREIGN KEY([ID_Equipaje])
REFERENCES [dbo].[Equipaje] ([ID])
GO
ALTER TABLE [dbo].[Pasajero] CHECK CONSTRAINT [FK_Pasajero_Equipaje]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Capitan] FOREIGN KEY([ID_Capitan])
REFERENCES [dbo].[Capitan] ([ID])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Capitan]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Empleado] FOREIGN KEY([ID_Empleado])
REFERENCES [dbo].[Empleado] ([ID])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Empleado]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Pasajero] FOREIGN KEY([ID_Pasajero])
REFERENCES [dbo].[Pasajero] ([ID])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Pasajero]
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD  CONSTRAINT [FK_Viaje_Crucero] FOREIGN KEY([ID_Crucero])
REFERENCES [dbo].[Crucero] ([ID])
GO
ALTER TABLE [dbo].[Viaje] CHECK CONSTRAINT [FK_Viaje_Crucero]
GO
USE [master]
GO
